<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-xs-12">
                <a class="navbar-brand" href="#">FindContacts</a>
            </div>
            <div class="col-md-8 col-xs-12">
                <form class="navbar-form">
                    <div class="form-group">
                        <input placeholder="Search" size="70%" class="form-control"  type="text" ng-model="vm.name" ng-change="vm.onChangeName()">
                    </div>
                    <button type="submit" class="btn btn-primary hidden-xs">Search</button>
                </form>
            </div>
            <div class="col-md-2 col-xs-12 center">
                <div class="navbar-form">
                    <button class="btn btn-primary" ng-if="!vm.isAdding" ng-click="vm.toggleAddContact()">+</button>
                    <button class="btn btn-default" ng-if="vm.isAdding" ng-click="vm.toggleAddContact()">-</button>
                </div>
            </div>
        </div>
        <div ng-if="vm.isAdding">
            <div class="contact-hr"></div>
            <div class="row add-contact-section">
               <form class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-md-8 col-sm-10">
                            <input type="text" ng-model="vm.newcontact.name" class="form-control" id="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">Phone</label>
                        <div class="col-md-8 col-sm-10">
                            <input type="text" ng-model="vm.newcontact.phone" class="form-control" id="phone" placeholder="Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-md-8 col-sm-10">
                            <input type="email" ng-model="vm.newcontact.email" class="form-control" id="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-2 control-label">Address</label>
                        <div class="col-md-8 col-sm-10">
                            <input type="address" ng-model="vm.newcontact.address" class="form-control" id="address" placeholder="Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-click="vm.addContact()">Register</button>
                        </div>
                    </div>
               </form>
            </div>
        </div>
    </div>
</nav>

