<div class="container-fluid contactpage-container">
    <div class="row header">
        <div class="col-md-1 goback">
            <span class="glyphicon glyphicon-chevron-left" ui-sref="contactlist" aria-hidden="true"></span>
        </div>
    </div>
    <div class="row header">
        <div class="col-md-12 avatar">
            <div>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <p class="contact-name">{{vm.contact.name}}</p>
            </div>
        </div>
    </div>
    <div class="contact-hr"></div>
    <div class="row info-container">
        <div class="col-md-6 col-xs-3 label">
            <label>Phone:</label>
        </div>
        <div class="col-md-6 col-xs-9 info">
            <span>{{vm.contact.phone}}</span>
        </div>
    </div>
    <div class="contact-hr"></div>
    <div class="row info-container">
        <div class="col-md-6 col-xs-3 label">
            <label>Email:</label>
        </div>
        <div class="col-md-6 col-xs-9 info">
            <span>{{vm.contact.email}}</span>
        </div>
    </div>
    <div class="contact-hr"></div>
    <div ng-repeat="address in vm.contact.addresses">
        <div class="row info-container">
            <div class="col-md-6 col-xs-3 label">
                <label>Address:</label>
            </div>
            <div class="col-md-6 col-xs-9 info">
                <span>{{address}}</span>
            </div>
        </div>
    </div>
</div>