<div class="contact-detail-container" ng-click="vm.seeMore()">
    <div class="row">
        <div class="col-md-4 col-xs-4 contact-avatar">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
        <div class="col-md-6 col-xs-6 contact-info">
            <div class="row">
                <h4>{{vm.contact.name}}</h4>
            </div>
            <div class="row">
                <h4><small><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{vm.contact.phone}}</small></h4>
            </div>
            <div class="row">
                <h4><small><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{vm.contact.email}} </small></h4>
            </div>
        </div>
        <div class="col-md-2 col-xs-2 contact-detail-arrow">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </div>
    </div>
    <div class="contact-hr"></div>
<div>

