.contact-detail-container
    margin: 0px;
    box-sizing: initial;

    &:hover
        background-color: #444;
        cursor: pointer;

    h4
        margin-top:1px;
        margin-bottom:1px;

    .contact-avatar
        font-size: 3em;
        text-align: center;

    > .row
        padding: 10px;

    .contact-detail-arrow
        font-size: 20px;
        margin-top: 15px;
