body {
  background-color: #333;
  color: #fff;
}
.contact-hr {
  margin-top: 0px;
  border: 1px solid rgba(130,130,130,0.2);
}
.contactpage-container .header {
  padding: 15px;
}
.contactpage-container .header .goback {
  font-size: 25px;
}
.contactpage-container .header .goback:hover {
  cursor: pointer;
}
.contactpage-container .avatar {
  text-align: center;
}
.contactpage-container .avatar .contact-name {
  padding: 10px;
  font-size: 20px;
}
.contactpage-container .avatar .glyphicon {
  font-size: 80px;
}
.contactpage-container .info-container {
  font-size: 18px;
  padding: 15px;
}
.contactpage-container .info-container .label {
  text-align: center;
}
.contactpage-container .info-container .info {
  text-align: left;
}
.contact-detail-container {
  margin: 0px;
  box-sizing: initial;
}
.contact-detail-container:hover {
  background-color: #444;
  cursor: pointer;
}
.contact-detail-container h4 {
  margin-top: 1px;
  margin-bottom: 1px;
}
.contact-detail-container .contact-avatar {
  font-size: 3em;
  text-align: center;
}
.contact-detail-container > .row {
  padding: 10px;
}
.contact-detail-container .contact-detail-arrow {
  font-size: 20px;
  margin-top: 15px;
}
.navbar {
  margin-bottom: 0px;
}
.navbar .add-contact-section {
  padding: 30px;
}
