.contactpage-container
    .header
        padding: 15px;

        .goback
            font-size: 25px;

            &:hover
                cursor: pointer;

    .avatar
        text-align: center;

        .contact-name
            padding: 10px;
            font-size: 20px;

        .glyphicon
            font-size: 80px;

    .info-container
        font-size: 18px;
        padding: 15px;

        .label
            text-align: center

        .info
            text-align: left